@media (max-width: 1160px) {
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer_col-logo{
        min-width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 870px) {
    .footer__col-social{
        min-width: 100%;
        margin-top: 35px;
    }
    .footer__inner{
        justify-content: flex-start;
    }
    .footer__col-menu{
        & + & {
            margin-left: 40px;
        }
    }
}
@media (max-width: 550px) {
    .footer__col{
        min-width: 100%;
    }
    .footer__col-menu{
        & + & {
            margin-left: 0px;
            margin-top: 35px;
        }
    }
}
@media (max-width: 400px){
    .footer__social-link{
        a{
            margin-left: 0px;
        }
    }
}





